@model DoAnDatPhongKS.Models.DiscountCode
@{
    ViewData["Title"] = "Create Discount Code";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Create Discount Code</h1>

<form asp-action="CreateDC" method="post">
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPercentage"></label>
        <input asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate"></label>
        <input asp-for="ExpiryDate" class="form-control" type="date" />
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>