@model DoAnDatPhongKS.Models.DiscountCode
@{
    ViewData["Title"] = "Edit Discount Code";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit Discount Code</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Code"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountPercentage"></label>
        <input asp-for="DiscountPercentage" class="form-control" />
        <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ExpiryDate"></label>
        <input asp-for="ExpiryDate" class="form-control" type="date" />
        <span asp-validation-for="ExpiryDate" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
<div>
    <a asp-action="QuanLyDc">Quay lại danh sách discount</a>
</div>

